*,
*::before,
*::after{
    box-sizing: border-box;
}

:root {
  --ff-primary: 'Source Code Pro', monospace;
  --ff-secondary: 'Roboto Slab', serif;

  --fw-reg: 400;
  --fw-bold: 700;

  --clr-light: #fff;
  --clr-dark: #0a192f;
  --clr-accent: #64ffda;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.5rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 850px) {
  :root {
      --fs-h1: 4rem;
      --fs-h2: 3.5rem;
      --fs-h3: 1.5rem;
      --fs-body: 1.125rem;
  }
}

/* General styles */
html{
  scroll-behavior: smooth;
}

body{
  max-width: 100vw;
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  color: var(--clr-light);
  background: var(--clr-dark);
  line-height: 1.6;
  scroll-behavior: smooth;
}

/* GENERAL WHITESPACE RULE */
.aboutMeInner,
.whatIDoInner,
.skillsInner,
.experienceInner,
.portfolioInner,
.project,
.resumeInner,
.testimonialInner,
.contactInner,
.footerInner{
  width: 77vw;
  margin: 0 auto;
}

@media (min-width: 850px){
  .aboutMeInner,
  .whatIDoInner,
  .skillsInner,
  .experienceInner,
  .portfolioInner,
  .project,
  .resumeInner,
  .testimonialInner,
  .contactInner,
  .footerInner{
    width: 75vw;
  }
}

/* NAVIGATION */
.navigation{
  position: fixed;
  background: rgba(17, 16, 16, 0.9);
  color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list{
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link{
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
}

.nav__link:hover{
  color: var(--clr-accent);
}

.nav-toggle{
  padding: .5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.navigation-open{
  transform: translateX(0);
}

.nav-open .nav-toggle{
  position: fixed;
}

.nav-open .hamburger{
  transform: rotate(.625turn);
}

.nav-open .hamburger::before{
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after{
  opacity: 0;
}

.hamburger{
  display: block;
  position: fixed;
  right: 10px;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-accent);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }

.dots-navigation {
  position: fixed;
  background: transparent;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
  right: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.dots-navigation .dotContainer{
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  text-decoration: none;
}

.dotContainer .dot{
  width: 15px;
  height: 15px;
  background: rgb(147, 147, 147);
  border-radius: 50%;
  margin: 8px 0;
  transition: background-color 0.3s, transform 0.3s;
}

.dotLink{
  text-decoration: none;
  color: var(--clr-light);
  font-size: 1rem;
  margin: 0;
  display: none;
}

.dotContainer .dot:hover {
  background-color: var(--clr-accent);
  transform: scale(1.1);
  cursor: pointer;
}

.dotContainer:hover .dotLink{
  display: block;
}

@media (min-width: 850px){
  .nav-toggle{
    display: none; /* Hide the hamburger navigation */
  }

  .dots-navigation{
    display: flex; /* Show the dots navigation */
  }
}

/* HOME PAGE */
.home{
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: white;
  line-height: 1.2;
}

.bg-animation{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(250, 250, 250, 0.3), rgba(0, 0, 0, 0.9)),
    url('./assets/images/backgroundImg.jpg') center/cover no-repeat;
  animation: bgAnimation 5s infinite alternate;
}

.intro{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-h2);
  text-align: center;
}

.intro > h1{
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  margin: 0;
}

.firstname{
  position: relative;
  overflow: hidden;
}

.firstname::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #fff;
  animation: borderAnimation 1s ease-in-out forwards;
  animation-delay: 1s;
}

.typewriter{
  font-family: var(--ff-secondary);
  font-size: 1.8rem;
  background-image: linear-gradient(to right, #ade8f4, #0077b6);
  background-clip: text;
  color: transparent;
}

.svgLink{
  text-decoration: none;
  color: var(--clr-light);
  opacity: .7;
}

.svgIcon{
  position: relative;
  top: 35vh;
  margin: 0 auto;
  opacity: .4;
  transform: scale(1);
}

.svgIcon p{
  font-size: 12px;
  margin: 0;
  visibility: hidden;
}

.svgIcon:hover,
.svgIcon:focus{
  opacity: .7;
  transform: scale(1.2);
}

.svgIcon:hover .svgText,
.svgIcon:focus .svgText{
  visibility: visible;
}

@media (min-width: 850px){
  .svgIcon{
    top: 27vh;
  }
}

/* ABOUT ME */
.aboutMe{
  margin: 0 auto;
  padding: 40px 0;
  color: rgba(250, 250, 250, 0.6);
}

.aboutMeInner{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: var(--fs-body);
}

.aboutMeHeader{
  font-size: var(--fs-body);
}

.aboutMeHeader h2{
  font-size: var(--fs-h2);
}

.nameTitle,
.lighten{
  color: var(--clr-light);
}

.aboutMeImage{
  margin-right: auto;
}

#myAvi{
  height: 320px;
  width: 320px;
  border-radius: 50%;
}

@media (min-width: 850px){
  .aboutMeInner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1rem 4rem;
  }

  .aboutMeImage{
    grid-row: span 2;
    margin: 0;
  }

  #myAvi{
    height: 500px;
    width: 500px;
  }
}

/* WHAT I DO */
.whatIDo{
  padding: 2rem 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./assets/images/bg2.jpg);
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: color-burn;
  display: flex;
  flex-direction: column;
}

.whatIDo p{
  font-size: var(--fs-body);
}

.whatIDoInner h1{
  font-size: var(--fs-h2);
  margin: 0;
}

.whatIDoInner h2{
  font-size: var(--fs-h3);
  margin: 0;
}

.whatIDoGrid{
  margin: 1.3rem auto;
}

@media (min-width: 850px){
  .whatIDoGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .webDev{
    border-right: solid 2px white;
  }

  .uxDesign{
    border-top: solid 2px white;
    border-right: solid 2px white;
  }

  .wordpressDev{
    border-top: solid 2px white;
  }

  .webDev,
  .uiDesign,
  .uxDesign,
  .wordpressDev{
    margin: 0;
    padding: 2rem;
    height: 300px;
  }
}

/* MY SKILLS */
.skillsWrapper{
  width: 70vw;
  margin: 1.5rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.skillsInner h1{
  font-size: var(--fs-h2);
}

.skillImageContainer{
  background-color: rgba(250, 250, 250, 0.3);
  width: 120px;
  height: auto;
  padding: 5px;
  border-radius: 10px;
}

.skillImageContainer > img{
  width: 100%;
  height: 100%;
}

@media (min-width: 850px) {
  .skillsWrapper{
    grid-template-columns: repeat(4, 1fr);
  }
}

/* RESUME */
.resume{
  height: 25vh;
  max-width: 100vw;
  background-image: url(./assets/images/bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: color-burn;
}

.resumeInner{
  display: block;
}

.resumeInner h1{
  font-size: var(--fs-h2);
}

.resumeBtn{
  width: 170px;
  margin: auto;
}

.resumeBtn > button{
  margin-top: 20px;
  display: block;
  outline: none;
  width: 100%;
  padding: .8em 1em;
  background-color: transparent;
  color: var(--clr-accent);
  border: 1px solid var(--clr-accent);
  border-radius: 5px;
  transform: scale(1);
  transition: ease-in-out .5s;
}

@media (min-width: 850px) {
  .resume{
    padding: 3rem;
  }
}

/* PORTFOLIO */
.portfolio{
  font-size: var(--fs-body);
}

.portfolioInner h1{
  font-size: var(--fs-h2);
}

.project > img{
  width: 100%;
}

.project h2{
  font-size: var(--fs-h3);
}

.project-links{
  width: 260px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

.project-links > a{
  text-decoration: none;
  border: 1px solid var(--clr-accent);
  border-radius: 8px;
  padding: .3em .6em;
  margin-left: auto;
  color: var(--clr-accent);
  transform: scale(1);
  transition: ease-in-out .5s;
}

.project-links > a:hover,
.project-links > a:focus,
.resumeBtn > button:hover,
.resumeBtn > button:focus,
.contactForm button:hover,
.contactForm button:focus{
  cursor: pointer;
  transform: scale(1.1);
}

.moreProjects{
  background-color: var(--clr-accent);
  margin: 1.5rem 0;
  max-width: 100vw;
  padding: 10px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.moreProjects > a{
  font-size: var(--fs-h3);
  color: var(--clr-light);
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.moreProjects > a:hover,
.moreProjects > a:focus{
  cursor: pointer;
}

.githubIcon{
  opacity: 0;
  transition: opacity .01s;
  position: relative;
  right: 130px;
}

.moreProjects:hover .githubIcon{
  opacity: 1;
  align-self: center;
}

.moreProjects:hover .githubButton{
  opacity: 0;
}

@media (min-width: 850px) {
  .project-links{
    width: 300px;
  }

  .githubIcon{
    right: 150px;
  }
}

/* TESTIMONIAL */
.testimonial {
  padding: 3rem 0;
  text-align: center;
  overflow: hidden;
}

.slick-list {
  margin: 0 auto;
  width: 80vw;
  max-width: 800px;
}

.slick-slide {
  outline: none;
}

.testimonial-item {
  padding: 2rem;
  background-color: #888;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

.testimonial-name {
  margin-top: 1rem;
  font-style: italic;
  color: #fff;
}

.testimonial-slider-container h1{
  font-size: var(--fs-h2);
}

/* CONTACT */
.contact{
  background-image: url(./assets/images/bg4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: color-burn;
}

.contactInner {
  padding: 30px;
}

.contact h1 {
  font-size: var(--fs-h2);
  margin: 0;
}

.contact p {
  text-align: center;
  font-size: var(--fs-body);
  margin-bottom: 20px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.contactForm label {
  display: block;
  margin: 10px auto;
  font-size: var(--fs-body);
  transition: color;
}

.contactForm input,
.contactForm textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  color: var(--clr-light);
  border: none;
  border-bottom: 3px solid var(--clr-light);
  font-size: var(--fs-body);
  background: none;
  outline: none;
  transition: border-color;
}

.contactForm input:focus,
.contactForm textarea:focus {
  outline: none;
  border-color: var(--clr-accent);
  background-color: transparent;
  color: var(--clr-light);
}

.contactForm label:focus-within {
  color: var(--clr-accent);
}

.contactForm button{
  background-color: transparent;
  color: var(--clr-accent);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border: 1px solid var(--clr-accent);
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  transform: scale(1);
  transition: ease-in-out .5s;
}

@media (min-width: 850px) {
  .contactInner{
    max-width: 40vw;
  }

  .contactInner h1{
    font-size: var(--fs-h3);
  }
}

/* FOOTER */
footer{
  background-color: rgba(0, 0, 0, 0.5);
}

.footerInner{
  display: flex;
  padding: 20px 0;
  flex-direction: column;
  align-items: center;
}

.footerInner p{
  margin: 10px auto;
  text-align: center;
  font-size: var(--fs-body);
}

.socials{
  font-size: var(--fs-body);
  width: 47vw;
  margin: 10px 0;
  padding: 0;
}

.socials ul{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 0;
}

.socials li{
  list-style-type: none;
}

.socials li:hover{
  opacity: .6;
  cursor: pointer;
}

.socials a{
  color: var(--clr-light);
}

@media (min-width: 850px){
  .socials{
    width: 20vw;
  }
}

/* ANIMATIONS */
.animated{
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.animate-in{
  opacity: 1;
  transform: translateY(0);
}


@keyframes bgAnimation{
  0%{
    opacity: .3;
  }
  100%{
    opacity: 1;
  }
}

@keyframes borderAnimation{
  0%{
    width: 100%;
    margin-left: 0;
  }
  100%{
    width: 0;
    margin-left: 50%;
  }
}

/* SCROLLBAR */
/* Hide the default scrollbar */
::-webkit-scrollbar{
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track{
  background: rgb(192, 191, 191);
  z-index: 10;
  position: absolute;
  right: 0;
}

/* Handle */
::-webkit-scrollbar-thumb{
  background: #888;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover{
  background: #555;
}

/* Scrollbar corner */
::-webkit-scrollbar-corner{
  background: #f1f1f1;
}